@page "/activities"
@inject IJSRuntime js
@inject IActivityReader acReader

@if (error != null)
{
  <div class="alert alert-danger" role="alert">@error</div>
}

<form>
  <div class="form-group">
    <label for="importActivityFile">Import from a file</label>
    <input type="file" id="importActivityFile" @ref="fileInput" @oninput="@ReadFile" accept=".csv, .txt" />
    <small id="fileHelp" class="form-text text-muted">Only CSV files are supported at the moment.</small>
  </div>
</form>

<ul class="list-group list-group-flush">
  @foreach (var ac in activities) {
    <li class="list-group-item">
      <ActivityCard Activity="ac" />
    </li>
  }
</ul>

@code {
  ElementRef fileInput;
  string error;
  Activity[] activities = new [] {
    new Activity {
      Title = "Running",
      Category = "Workout",
      Duration = TimeSpan.FromMinutes(30),
    },
    new Activity { Title = "Biking" },
  };

  public async Task ReadFile() {
    await js.InvokeAsync<object>("actrack.storage.readFile",
      fileInput, DotNetObjectRef.Create(this), nameof(ReadFileCallback)
    );
  }

  [JSInvokable]
  public void ReadFileCallback(string errorJson, string eventType, string data) {
    if (errorJson != null) {
      error = errorJson;
      return;
    }

    if (eventType == "load") {
      var a = acReader.ReadFromText(data);
      Console.WriteLine(a);
    }
  }
}
